.bodyGridDesign{
    background-color: var(--primary-color-dark);
    grid-template-areas: 
    "header"
    "main"
    "main"
    "main"
    "footer";
}

.footerLabel{
    border-top: 0.05rem solid var(--primary-color-dark);
     grid-area: footer; background-color: var(--secondary-color-light); 
 }
.headerLabel{
    color: var(--secondary-color-03);
     grid-area: header; background-color: var(--primary-color-dark);
}
.mainLabel{ 
    grid-area: main; background-color: var(--secondary-color-dark); 
}
.sectionLabel{ 
    grid-area: section;
}
.asideLabel{
     grid-area: aside;
     background-color: var(--primary-color-light); 
}

.mainGridDesign{
    display: grid;
    grid-template-areas: "section aside";
    grid-template-columns: 7fr 3fr;
    height: 100%;
}

.heightInheritance{
    height: 100%;
}

#titleName{
    font-family: 'Nexa';
    color: var();
    text-decoration: underline;
}

#titleContainer{
    padding: 0.5rem;
    border-radius: 1.2rem 0rem 1.5rem 0.65rem;
    background-color: aquamarine;
}

.link{
    text-decoration: none;
    color: inherit;
}

.link:hover{
    transition: 300ms;
    color: var(--primary-color-light);
}

.link:hover:before{
    content: " ";
    display: inline-block;
    width: 5px;
    margin-right: 0.2rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: var(--primary-color-light);
}

#figure{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.5rem;
}

#figure > img{
    float: inline-start;
    margin-left: 0.25rem;
    height: 5rem;
    width: 7.5rem;
}

#figure > figcaption{
    margin: 0.5rem;
}

.footerLabel > p {
    font-size: 0.6rem;
    margin: 1rem 0;
    text-align: center;
}

.asideLabel > ul > p{
    color: var(--secondary-color-03);
    margin-top: 0.25rem;
    text-align: center;
}

.asideLabel > ul > li{
    margin-top: 0.25rem;
    text-align: center;
}

.asideLabel > ul > li > a{
    color: var(--primary-color-dark);
    text-decoration: inherit;
}

.asideLabel > ul > li:hover{
    color: var(--primary-color-dark);
    transition: 0.3s;
    transform: scale(0.85);
    text-decoration: underline;
}